<div id="sidebar" class="col-md-4 col-lg-3">
  <div class="card">
    <div class="container-fluid" id="billboard-img">
      <img
        src="/billboard.jpg"
        class="img-fluid rounded-lg"
        alt="image of the billboard"
      />
    </div>
    <div class="card-header d-flex justify-content-between">
      <p class="text-center fs-5 fw-semibold align-bottom">
        Thông tin địa điểm:
      </p>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        id="closeSidebar"
      ></button>
    </div>
    <div class="card-body" id="infoContent">
      <!-- Content will be dynamically inserted here -->
    </div>
  </div>
</div>