<div
  id="extension"
  class="d-flex flex-column justify-content-center align-items-center sidebar-container"
>
  <button id="toggleSidebarButton" class="btn btn-sm m-1">☰</button>
  <button
    id="toadManager"
    class="btn btn-lg m-3 sidebar-button"
    onclick="window.location.href='./adManager.html'"
    onmouseover="buttonHover('toadManager')"
    onmouseleave="buttonLeave('toadManager')"
  ><i class="bi bi-badge-ad"></i></button>
  <button
    id="toadReport"
    class="btn btn-lg m-3 sidebar-button"
    onclick="window.location.href='./reportManager.html'"
    onmouseover="buttonHover('toadReport')"
    onmouseleave="buttonLeave('toadReport')"
  ><i class="bi bi-flag"></i></button>
  <button
    id="toadLicense"
    class="btn btn-lg m-3 sidebar-button"
    onclick="window.location.href='./adLicense.html'"
    onmouseover="buttonHover('toadLicense')"
    onmouseleave="buttonLeave('toadLicense')"
  ><i class="bi bi-clipboard-check"></i></button>
  <button
    id="toLogIn"
    class="btn btn-lg m-3 sidebar-button"
    onclick="window.location.href='/login.html'"
    onmouseover="buttonHover('toLogIn')"
    onmouseleave="buttonLeave('toLogIn')"
  ><i class="bi bi-person-circle"></i></button>
  <button
    id="toHelp"
    class="btn btn-lg m-3 sidebar-button"
    onclick="window.location.href=''"
    onmouseover="buttonHover('toHelp')"
    onmouseleave="buttonLeave('toHelp')"
  ><i class="bi bi-bug"></i></button>
  <button
    id="toBugReport"
    class="btn btn-lg m-3 sidebar-button"
    onclick="window.location.href=''"
    onmouseover="buttonHover('toBugReport')"
    onmouseleave="buttonLeave('toBugReport')"
  ><i class="bi bi-question-circle"></i></button>
</div>