<html lang="en">

  <head>
    <title>Thao tác cán bộ Sở Văn hóa - Thể thao</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />

    <!--Modal-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <style>
      .custom-header { background-color: #007bff; color: #fff; }
    </style>
  </head>

  <body>
    <header>
      <div class="container py-2">
        <button onclick="history.back()" class="btn btn-primary"><i
            class="bi bi-arrow-left"
          ></i></button>
        <button onclick="history.forward()" class="btn btn-primary"><i
            class="bi bi-arrow-right"
          ></i></button>
        <a href="http://localhost:4000/api/sovhtt/" class="btn btn-primary"><i
            class="bi bi-house"
          ></i></a>
      </div>
    </header>

    {{{body}}}

    <footer>
      <div class="container float-end">
        <footer class="border-0 m-0 p-0"><i class="bi bi-c-circle"></i>&nbsp;Ứng
          dụng được phát triển bởi Sở Văn hóa - Thể thao Thành phố Hồ Chí Minh</footer>
      </div>
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    >
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    >
    </script>

    <!-- Table-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Include jQuery if needed for other scripts; otherwise, it's not required for Bootstrap 5 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include the Bootstrap bundle script that contains Bootstrap's JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>

    <!-- Your custom script file -->
    <script type="text/javascript" src="/assets/js/SoVHTT_Form.js"></script>

    <!--Xóa thông tin 1 quận-->

    <!--
    <script>
      document.querySelectorAll('.bi-trash-fill').forEach(item => { item.onclick
      = () => { if (confirm('Do you really want to remove this item ?')) {
      ((item.parentElement).parentElement).parentElement.remove(); } } })
    </script>
    -->
    <script>

    </script>

    <script>

    </script>

  </body>
</html>