<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phân hệ cán bộ phường</title>
    <!-- Mapbox API -->
    <script
      src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"
    ></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <!-- Local stylesheet and jquery-->
    <link rel="stylesheet" href="/assets/css/style_Phuong.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    {{{body}}}
    <script
      src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <!-- Include jQuery if needed for other scripts; otherwise, it's not required for Bootstrap 5 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include the Bootstrap bundle script that contains Bootstrap's JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    ></script>

    <!-- Custom script file -->
    <script type="text/javascript" src="/assets/js/Phuong.js"></script>

    <script>
    function handleLogout() {
        // Perform a POST request to "/api/logout"
        fetch('/api/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
                // Add any other headers you may need
            },
            // You can include a request body if needed
            // body: JSON.stringify({ key: 'value' })
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response data if needed
            console.log(data);
            // After the POST request is successful, redirect to "/logout"
            window.location.href = '/api/auth';
        })
        .catch(error => {
            // Handle errors if any
            console.error('Error:', error);
        });
    }
  </script>
  </body>
</html>