<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phân hệ sở Văn Hóa - Thể Thao</title>
    <script
      src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"
    ></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/assets/css/style_SoVHTT.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    {{{body}}}
    <script
      src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <!-- Include jQuery if needed for other scripts; otherwise, it's not required for Bootstrap 5 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include the Bootstrap bundle script that contains Bootstrap's JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    ></script>

    <!-- Your custom script file -->
    <script type="text/javascript" src="/assets/js/SoVHTT.js"></script>

    <script>
      function handleLogout() { fetch('/api/logout', { method: 'POST', headers:
      { 'Content-Type': 'application/json' }, }) .then(response =>
      response.json()) .then(data => { console.log(data); window.location.href =
      '/api/auth'; }) .catch(error => { console.error('Error:', error); }); }
    </script>
  </body>
</html>