<main>
  <section class="vh-100">
    <div class="container-fluid h-100">
      <div class="row d-flex align-items-center justify-content-center">
        <div
          class="d-flex flex-column justify-content-between col-lg-5 col-xl-5 vh-100 bg-primary"
        >
          <div class="title">
            <h1 class="py-5 display-5 text-center fw-bold text-white">
              Ads Management
            </h1>
            <h1 class="display-5 text-center fw-bold text-white">
              Hệ thống quản lý quảng cáo TP.HCM
            </h1>
          </div>
          <div class="bottom">
            <p class="text-center fs-3">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                class="bi bi-star-fill"
              ></i><i class="bi bi-star-fill"></i><i
                class="bi bi-star-fill"
              ></i>
            </p>
            <p class="text-white fw-bold text-end">
              Ứng dụng được phát triển và quản lý bởi Sở Văn hóa - Thể thao
              Thành phố Hồ Chí Minh
            </p>
            <p class="text-white fw-bold text-center">
              Copyright
              <i class="bi bi-c-circle"></i>
              2023-2033 DCS HCM City. All rights reserved.
            </p>
          </div>
        </div>

        <div class="col-md-7 col-lg-7 col-xl-7 bg-white vh-100">
          <h1 class="px-3 display-5 fw-bold text-black" id="greet">
            Nhập OTP xác nhận:
          </h1>
          <p class="lead text-black fw-semibold" id="intro">
            Vui lòng kiểm tra email và nhập OTP chúng tôi đã cung cấp cho bạn
          </p>
          <div class="form-elements">
            {{! <form method="get" id="login" onsubmit="directUser(event)"> }}
            <form id="OTP" action="/api/changePassword/confirmOTP" method="POST">
              <!-- Account input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="otp">OTP</label>
                <input
                  name="otp"
                  type="text"
                  id="otp"
                  class="form-control form-control-lg"
                  required
                />
              </div>

              <div
                class="d-flex justify-content-between align-items-center mb-4"
              >
                <a href="/api/auth">Quay về trang đăng nhập</a>
              </div>
              <!-- Submit button -->
              <button
                type="submit"
                class="btn btn-primary btn-lg btn-block"
                form="OTP"
                id="submitButton"
              >
                Tạo lại mật khẩu
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>