<div class="overlay" id="pageOverlay"></div>
<div class="container-fluid" style="padding-left: 0">
  <div class="row">
    <div class="col-md-12">
      <div id="map" style="height: 100vh; width: 100vw">
        <!-- Sidebar goes here -->
        <div
          id="extension"
          class="d-flex flex-column justify-content-center align-items-center sidebar-container"
        >
          <button id="toggleSidebarButton" class="btn btn-sm m-1">☰</button>
          <button
            id="toadManager"
            class="btn btn-lg m-3 sidebar-button"
            onclick="window.location.href='/api/phuong/ad_phuong'"
            onmouseover="buttonHover('toadManager')"
            onmouseleave="buttonLeave('toadManager')"
          ><i class="bi bi-badge-ad"></i></button>
          <button
            id="toadReport"
            class="btn btn-lg m-3 sidebar-button"
            onclick="window.location.href='/api/phuong/report_phuong'"
            onmouseover="buttonHover('toadReport')"
            onmouseleave="buttonLeave('toadReport')"
          ><i class="bi bi-flag"></i></button>
          <button
            id="toadLicense"
            class="btn btn-lg m-3 sidebar-button"
            onclick="window.location.href='/api/phuong/license_phuong'"
            onmouseover="buttonHover('toadLicense')"
            onmouseleave="buttonLeave('toadLicense')"
          ><i class="bi bi-clipboard-check"></i></button>
          <button
            id="toLogIn"
            class="btn btn-lg m-3 sidebar-button"
            onclick="window.location.href='/login'"
            onmouseover="buttonHover('toLogIn')"
            onmouseleave="buttonLeave('toLogIn')"
          ><i class="bi bi-person-circle"></i></button>
          <button
            id="toHelp"
            class="btn btn-lg m-3 sidebar-button"
            onclick="window.location.href=''"
            onmouseover="buttonHover('toHelp')"
            onmouseleave="buttonLeave('toHelp')"
          ><i class="bi bi-bug"></i></button>
          <button
            id="toBugReport"
            class="btn btn-lg m-3 sidebar-button"
            onclick="window.location.href=''"
            onmouseover="buttonHover('toBugReport')"
            onmouseleave="buttonLeave('toBugReport')"
          ><i class="bi bi-question-circle"></i></button>
        </div>
        <div id="nav-sidebar">
          <button
            type="button"
            class="closeSideBar"
            aria-label="Close"
            id="closeSideBar"
          >
            &times;
            <!-- This is a common way to represent a close button -->
          </button>
          <!-- Navigation items here -->
          <div class="list-group" style="left: 0">
            <!-- Navigation sidebar goes here -->
            <div class="card d-flex flex-column justify-content-between">
              <div class="card-header container bg-info">
                <p class="h2 text-center">
                  Xin chào, Cán bộ {{user.username}}
                </p>
              </div>
              <div
                class="card-body sidebar-elements py-0 border-bottom border-dark"
              >
                <a href="" class="container-fluid">
                  <p class="h5 fw-normal"><i class="bi bi-archive"></i>
                    &nbsp;Đã lưu</p>
                </a>
                <a href="" class="container-fluid">
                  <p class="h5 fw-normal"><i class="bi bi-clock-history"></i>
                    &nbsp;Gần đây</p>
                </a>
              </div>
              <div
                class="card-body sidebar-elements py-0 border-bottom border-dark"
              >
                <a href="/api/phuong/ad_phuong" class="container-fluid">
                  <p class="h5 fw-normal"><i class="bi bi-badge-ad"></i>
                    &nbsp;Quản lý điểm đặt quảng cáo & bảng quảng cáo</p>
                </a>
                <a href="/api/phuong/report_phuong" class="container-fluid">
                  <p class="h5 fw-normal"><i class="bi bi-flag"></i>
                    &nbsp;Xử lý báo cáo</p>
                </a>
                <a href="/api/phuong/license_phuong" class="container-fluid">
                  <p class="h5 fw-normal"><i class="bi bi-clipboard-check"></i>
                    &nbsp;Yêu cầu cấp phép quảng cáo</p>
                </a>
              </div>
              <div
                class="card-body sidebar-elements py-0 border-bottom border-dark"
              >
                <a href="/login" class="container-fluid">
                  <p class="h5 fw-normal"><i class="bi bi-person-circle"></i>
                    &nbsp;Đăng xuất</p>
                </a>
                <a href="" class="container-fluid">
                  <p class="h5 fw-normal"><i class="bi bi-bug"></i>
                    &nbsp;Báo cáo lỗi</p>
                </a>
                <a href="" class="container-fluid">
                  <p class="h5 fw-normal"><i class="bi bi-question-circle"></i>
                    &nbsp;Trợ giúp</p>
                </a>
              </div>
              <p class="border-0 m-0 p-0"><i
                  class="bi bi-c-circle"
                ></i>&nbsp;Ứng dụng được phát triển bởi Sở Văn hóa - Thể thao
                Thành phố Hồ Chí Minh</p>
            </div>
          </div>
        </div>
        <!-- Ad info flexible display here-->
        <div id="sidebar" class="col-md-4 col-lg-3">
          <div class="card">
            <div class="container-fluid" id="billboard-img">
              <img
                src="/billboard.jpg"
                class="img-fluid rounded-lg"
                alt="image of the billboard"
              />
            </div>
            <div class="card-header d-flex justify-content-between">
              <p class="text-center fs-5 fw-semibold align-bottom">
                Thông tin địa điểm:
              </p>
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                id="closeSidebar"
              ></button>
            </div>
            <div class="card-body" id="infoContent">
              <!-- Content will be dynamically inserted here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>