<div class="overlay" id="pageOverlay"></div>
<div class="container-fluid" style="padding-left: 0">
  <div class="row">
    <div class="col-md-12">
      <div id="map" style="height: 100vh; width: 100vw">
        <!-- Sidebar goes here -->
        {{{navigation}}}
        {{{sidebar}}}
        <!-- Ad info flexible display here-->
        {{{adInfo}}}
      </div>
    </div>
  </div>
</div>