<main>
  <div class="container">

    <table class="table table-bordered">
      <h2 class="text-center">Thống kê báo cáo các quận</h2>
      <!-- Button trigger modal -->
      <button type="button" class="btn bg-opacity-0 float-right mb-2">
        <i class="bi bi-funnel"></i>
        Lọc
      </button>

      <thead class="custom-header">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên quận</th>
          <th scope="col">Số lượng báo cáo</th>
          <th scope="col">Đã xử lí</th>
          <th scope="col">Chi tiết</th>
        </tr>
      </thead>
      <tbody id="">
        <tr>
          <td scope="row">1</td>
          <td>Quận 1</td>
          <td>100</td>
          <td>50/100</td>
          <td>
            <a href="ThongKeBaoCaoQuan.html">Chi tiết
              <i class="bi bi-info-circle"></i></a>
          </td>

        </tr>
        <tr>
          <td scope="row">2</td>
          <td>Quận 4</td>
          <td>70</td>
          <td>50/70</td>
          <td>
            <a href="ThongKeBaoCaoQuan.html">Chi tiết
              <i class="bi bi-info-circle"></i></a>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

</main>