<main>
  <div class="container">

    <table class="table table-bordered">
      <h2 class="text-center">Thống kê báo cáo các phường của
        {{district.name}}</h2>
      <!-- Button trigger modal -->
      <button type="button" class="btn bg-opacity-0 float-right mb-2">
        <i class="bi bi-funnel"></i>
        Lọc
      </button>

      <thead class="custom-header">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên phường</th>
          <th scope="col">Số lượng báo cáo</th>
          <th scope="col">Đã xử lí</th>
          <th scope="col">Chi tiết</th>
        </tr>
      </thead>
      <tbody>
        {{#each ward}}
          <tr>
            <td scope="row">{{ward._id}}</td>
            <td>{{ward.name}}</td>
            <td>25</td>
            <td>20/25</td>
            <!--Apply flexible calculations here-->
            <td>
              <a href="/thongkephuong">Chi tiết
                <i class="bi bi-info-circle"></i></a>
            </td>

          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</main>