<div class="overlay" id="pageOverlay"></div>
<div class="container-fluid" style="padding-left: 0">
  <div class="row">
    <!-- Sidebar/Navbar area -->
    <!-- Sidebar/Navbar area -->
    <!-- Replace your existing sidebar with this -->

    <!-- Map area -->
    <!-- Collapsible Navigation Sidebar -->
    <!-- Toggle Button for the sidebar -->

    <div class="col-md-12">
      <div id="map" style="height: 100vh; width: 100vw">
        <!-- Report Modal -->
        <div id="extension" class="sidebar-container">
          <button id="toggleSidebarButton" class="btn btn-sm">☰</button>

          <!-- The rest of the sidebar content will go here -->
          <!-- ... -->
        </div>
        <div id="nav-sidebar">

          <!-- This is a common way to represent a close button -->
          <button
            type="button"
            class="closeSideBar"
            aria-label="Close"
            id="closeSideBar"
          >&times;
          </button>

          <!-- Navigation items here -->
          <div class="card d-flex flex-column justify-content-between">
            <div class="card-header container bg-info">
              <p class="h2 text-center">
                Sở Văn Hóa - Thể Thao
              </p>
            </div>

            <div
              class="card-body sidebar-elements py-0 border-bottom border-dark"
            >
              <a href="/api/sovhtt/danh-sach-quan" class="container-fluid">
                <p class="h6 fw-normal"><i class="bi bi-archive"></i>
                  &nbsp;Danh sách Quận, Phường</p>
              </a>
            </div>

            <div
              class="card-body sidebar-elements py-0 border-bottom border-dark"
            >
              <a
                href="/api/sovhtt/danh-sach-hinh-thuc-quang-cao"
                class="container-fluid"
              >
                <p class="h6 fw-normal"><i class="bi bi-archive"></i>
                  &nbsp;Các hình thức quảng cáo</p>
              </a>
            </div>

            {{! <div
              class="card-body sidebar-elements py-0 border-bottom border-dark"
            >
              <a href="/cacloaidiemdat" class="container-fluid">
                <p class="h6 fw-normal"><i class="bi bi-archive"></i>
                  &nbsp;Các loại điểm đặt</p>
              </a>
            </div> }}

            <div
              class="card-body sidebar-elements py-0 border-bottom border-dark"
            >
              <a
                href="/api/sovhtt/danh-sach-hinh-thuc-bao-cao"
                class="container-fluid"
              >
                <p class="h6 fw-normal"><i class="bi bi-archive"></i>
                  &nbsp;Các loại hình thức báo cáo</p>
              </a>
            </div>

            {{! <div
              class="card-body sidebar-elements py-0 border-bottom border-dark"
            >
              <a href="/api/sovhtt/danh-sach-diem-dat" class="container-fluid">
                <p class="h6 fw-normal"><i class="bi bi-archive"></i>
                  &nbsp;Danh sách điểm đặt quảng cáo</p>
              </a>
            </div> }}

            {{! <div
              class="card-body sidebar-elements py-0 border-bottom border-dark"
            >
              <a href="/api/sovhtt/danh-sach-quang-cao" class="container-fluid">
                <p class="h6 fw-normal"><i class="bi bi-archive"></i>
                  &nbsp;Danh sách bảng quảng cáo</p>
              </a>
            </div> }}

            <div
              class="card-body sidebar-elements py-0 border-bottom border-dark"
            >
              <a
                href="/api/sovhtt/danh-sach-yeu-cau-chinh-sua-diem-dat"
                class="container-fluid"
              >
                <p class="h6 fw-normal"><i class="bi bi-archive"></i>
                  &nbsp;Danh sách yêu cầu chỉnh sửa điểm đặt</p>
              </a>
            </div>

            <div
              class="card-body sidebar-elements py-0 border-bottom border-dark"
            >
              <a
                href="/api/sovhtt/danh-sach-yeu-cau-chinh-sua-quang-cao"
                class="container-fluid"
              >
                <p class="h6 fw-normal"><i class="bi bi-archive"></i>
                  &nbsp;Danh sách yêu cầu chỉnh sửa quảng cáo</p>
              </a>
            </div>

            <div
              class="card-body sidebar-elements py-0 border-bottom border-dark"
            >
              <a
                href="/api/sovhtt/danh-sach-yeu-cau-cap-phep-quang-cao"
                class="container-fluid"
              >
                <p class="h6 fw-normal"><i class="bi bi-archive"></i>
                  &nbsp;Danh sách yêu cầu cấp phép quảng cáo</p>
              </a>
            </div>

            <div
              class="card-body sidebar-elements py-0 border-bottom border-dark"
            >
              <a href="/api/sovhtt/thong-ke-bao-cao" class="container-fluid">
                <p class="h6 fw-normal"><i class="bi bi-archive"></i>
                  &nbsp;Thống kê báo cáo</p>
              </a>
            </div>

            <div
              class="card-body sidebar-elements py-0 border-bottom border-dark"
            >
              <a href="/taotaikhoan" class="container-fluid">
                <p class="h6 fw-normal"><i class="bi bi-archive"></i>
                  &nbsp;Tạo tài khoản cán bộ</p>
              </a>
            </div>

            <div
              class="card-body sidebar-elements py-0 border-bottom border-dark"
            >
              <a href="/phancong" class="container-fluid">
                <p class="h6 fw-normal"><i class="bi bi-archive"></i>
                  &nbsp;Phân công khu vực quản lí</p>
              </a>
            </div>

            <footer class="border-0 m-0 p-0"><i
                class="bi bi-c-circle"
              ></i>&nbsp;Ứng dụng được phát triển bởi Sở Văn hóa - Thể thao
              Thành phố Hồ Chí Minh</footer>

          </div>
        </div>
        <div id="sidebar" class="col-md-4 col-lg-3">
          <div class="card">
            <div class="container-fluid" id="billboard-img">
              <img
                src="/billboard.jpg"
                class="img-fluid rounded-lg"
                alt="image of the billboard"
              />
            </div>
            <div class="card-header d-flex justify-content-between">
              <p class="text-center fs-5 fw-semibold align-bottom">
                Thông tin địa điểm:
              </p>
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                id="closeSidebar"
              ></button>
            </div>
            <div class="card-body" id="infoContent">
              <!-- Content will be dynamically inserted here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>