body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
}
.marker {
  background-image: url("/blueMarker.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
/* Optional: Add custom CSS to style the sidebar further, if desired */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000; /* Ensure sidebar is above other content */
  overflow-y: auto; /* Scrollable content */
  background-color: white; /* Or any color you prefer */
}
