div.bottom {
  margin: 0 10px 25px 0 !important;
}

.bi-star-fill {
  color: gold;
}

#greet {
  margin: 3rem 3rem 2rem 2rem;
}

#intro {
  margin: 0 3rem 2rem 3rem;
}

.form-elements {
  margin: 0 3rem;
}
.alert {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  /* Add other styles as needed */
}
/* Add this CSS in your stylesheet */
.my-custom-alert {
  background-color: #f8d7da; /* Background color for the alert */
  border: 1px solid #f5c6cb; /* Border color */
  color: #721c24; /* Text color */
  padding: 1rem; /* Padding around the alert */
  border-radius: 0.25rem; /* Border radius */
  margin: 0 3rem 2rem 3rem;
}
